<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}University Database{% endblock %}</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('students_display') }}">Students Table</a></li>
            <li><a href="{{ url_for('students_datatable') }}">Students Datatable</a></li>
            <li><a href="{{ url_for('courses_display') }}">Courses Table</a></li>
            <li><a href="{{ url_for('students_and_courses_display') }}">Students & Courses Table</a></li>
            
        </ul>
    </nav>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
